# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environnement
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Données
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/transformed/*
!data/transformed/.gitkeep
data/logs/*
!data/logs/.gitkeep

# NGINX
nginx/logs/*
!nginx/logs/.gitkeep
nginx/ssl/*
!nginx/ssl/.gitkeep

# Autre
error*.png
*.json

# Tests
ETL/Extract/FranceTravail/src/tests/
