# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environnement
.env
.env.local
# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# autre
error*.png
# Dossier test scrapping FranceTravail
ETL/Extract/FranceTravail/src/tests/
